.container{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s;
    overflow: hidden;
    h3{
      color:#010F4C;
      margin: 0px;
    }  
    
  }